html,
body {
    margin: 0;
    padding: 0;
}

.slider {
    width: 100%;
    height: 100vh;
}

.slider .image {
    width: inherit;
    height: inherit;
}

.slider .image img {
    width: inherit;
    height: inherit;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate {
    animation-name: animate;
    animation-duration: 2s;
}